services:
  app-api:
    container_name: riddim-app-api
    image: riddim-app-api:latest
    build:
      context: ../../
      dockerfile: deployment/images/app-api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - RIDDIM_ENGINE_SUPERCOLLIDER_HOST=localhost # Defaulting to localhost within container for now
      - RIDDIM_ENGINE_SUPERCOLLIDER_PORT=57120

  web:
    container_name: riddim-web
    image: riddim-web:latest
    build:
      context: ../../
      dockerfile: deployment/images/web-frontend/Dockerfile
    ports:
      - "4173:80"
    volumes:
      - ../../deployment/config/web-config.compose.json:/usr/share/nginx/html/riddim/app/config.json:ro
    depends_on:
      - app-api

  docs:
    container_name: riddim-docs
    image: nginx:1.27-alpine
    ports:
      - "4174:80"
    volumes:
      - ../../docs/site/dist:/usr/share/nginx/html:ro
      - ../../deployment/images/docs/nginx.conf:/etc/nginx/conf.d/default.conf:ro
